extends layout

block variables
  - var title = "Home"

block content
  h2.text-center CSUN Irrigation

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your CSUN Irrigation! Please login to access the irrigation tools.
